@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

body{
    font-family: 'Nunito', sans-serif;
    background: #0058ff;
}

#quote-box {
    background: #000;
    width: 40rem;
    margin: 10rem auto;
    padding: 3rem;
    border-radius: 5px;
}

#text {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

#author {
    display: flex;
    justify-content: flex-end;
    font-size: 1.2rem;
    color: #fff;
}

#buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    border-radius: 3px;
}

#social-media{
    display: flex;
}

#social-media > a{
    margin-right: 0.5rem;
    background: #0058ff;
    padding: 0.3rem 0.5rem;
    cursor: pointer;
    border-radius: 3px;
    
}

#social-media > a:hover {
   opacity: 0.9;
}

#new-quote{
    background: #0058ff;
    border: none;
    padding: 0.7rem;
    color: #fff;
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

#new-quote:hover{
    opacity: 0.9;
}
